baseURL = 'https://example.org/'
languageCode = 'en-us'
title = 'My New Hugo + Tailwind Site'

[menus]
  [[menus.main]]
    name = 'Home'
    pageRef = '/'
    weight = 10
  [[menus.main]]
    name = 'Teams'
    pageRef = '/'
    weight = 20
  [[menus.main]]
    name = 'Contact'
    pageRef = '/'
    weight = 30
  [[menus.main]]
    name = 'Latest Work'
    pageRef = '/'
    weight = 40



[build]
  [build.buildStats]
    enable = true
  [[build.cachebusters]]
    source = 'assets/notwatching/hugo_stats\.json'
    target = 'css'
  [[build.cachebusters]]
    source = '(postcss|tailwind)\.config\.js'
    target = 'css'
[module]
  [[module.mounts]]
    source = 'assets'
    target = 'assets'
  [[module.mounts]]
    disableWatch = true
    source = 'hugo_stats.json'
    target = 'assets/notwatching/hugo_stats.json'